<main role="main" class="inner cover text-center pt-5">
  <h1 class="cover-heading">Bienvenido a la demostración de la API desarrollada por Marvel Comics</h1>
  <img class="pt-5" src="https://wallpapercave.com/wp/kO5R1kx.jpg" alt="MARVEL" width=95% height=75%>

  <div class="btn-group pt-5" role="group" aria-label="Basic example">
    <a routerLink="/characters"class="btn btn-lg btn-secondary">Ver Personajes</a>
    <a routerLink="/comics"class="btn btn-lg btn-secondary">Ver Comics</a>
  </div>
  <p></p>
</main>
