<main role="main">
  <div class = "album py-5 bg-light">
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let serie of series.results">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img src="{{serie.thumbnail.path}}/portrait_incredible.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{serie.title}}</h2>
              <p class="card-text">{{serie.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{serie.stories.available}} números</small>
              </div>
              <div class="d-flex flex-row-reverse align-items-center">
                <button class="btn btn-primary btn-sm" data-toggle="button" (click)="anadirAFavoritos(serie)">Añadir a Favoritos</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      </div>
    </div>
  </div>
</main>
<footer class="text-muted">
<div class="container">
  <p class="float-right">
      <a routerLink="/characters" class="text-muted">Volver</a>
  </p>
</div>
</footer>



